<!DOCTYPE html>
<html>
    <title>
        Cloud Website
    </title>
    <body>
        <div class="content">
            <div class="title">
                <h1>Welcome to my Website</h1>
            </div>
            <div class="subtitle">
                <p>Where would you like to go?</p>
            </div>
            <div class="contact">
                <a href="/contact">Contact</a>
            </div>
            <div class="about">
                <a href="/about">About</a>
            </div>
        </div>
    </body>
</html>

<style>
    * {
        font-family: 'Times New Roman';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .content {
        font-size: 50px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1, p, .subtitle, .content, .about {
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: blue;
        margin: 10px;
    }
    
</style>